body {
  margin: 0;
  font-size: 11pt;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #161616; }

a {
  color: #303030; }

h2 {
  font-weight: normal;
  font-size: 1.4em;
  margin: 0 0 1em 0; }

.wrapper {
  padding: 60px 25px 25px 250px; }

input, textarea {
  font-size: inherit;
  font-family: inherit;
  color: #202020; }

button,
input[type=submit],
input[type=reset] {
  border-radius: 0.2em;
  border: 1px solid #303030;
  background-color: #BBC1C9;
  margin: 0;
  padding: 0.25em 0.5em;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

input[type=text],
input[type=password],
textarea {
  width: 100%;
  padding: 0.4em;
  border: 1px solid #303030;
  border-radius: 0.2em;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

body, input, textarea {
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

textarea {
  max-width: 100%;
  min-width: 100%;
  resize: vertical; }
  textarea[name=query] {
    height: 10em; }

select {
  font-size: inherit;
  border: 1px solid #303030;
  background-color: #BBC1C9; }

.nav {
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 25px 0 0 25px;
  position: fixed;
  background-color: #363e47;
  color: white;
  overflow: auto;
  line-height: 1.3em; }
  .nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .nav ul ul {
      margin-left: 2em; }
      .nav ul ul li {
        font-weight: normal; }
  .nav li {
    margin: 0;
    padding: 0;
    font-weight: bold; }
  .nav a {
    color: white; }
  .nav.sub-nav {
    width: auto;
    height: 2.5em;
    position: relative;
    margin: 0;
    margin: -60px -25px 25px -25px;
    padding: 0;
    background-color: #363e47;
    line-height: 2.5em;
    overflow: visible;
    z-index: 1; }
    .nav.sub-nav ul {
      margin: 0;
      padding: 0; }
    .nav.sub-nav li {
      height: 2.5em;
      font-weight: normal;
      float: left;
      margin: 0;
      padding: 0;
      border: none;
      display: block; }
      .nav.sub-nav li.active {
        background-color: #506169 !important; }
      .nav.sub-nav li.right {
        margin-left: 0.5em;
        float: right; }
      .nav.sub-nav li a {
        padding: 0 0.5em;
        text-decoration: none;
        display: block; }

.logout {
  text-align: right; }

table {
  width: 100%;
  margin: 1em 0;
  border-spacing: 2px;
  border: 1px solid #404040; }
  table a {
    color: black; }

td, th {
  padding: 2px 0;
  padding: 4px 6px;
  background-color: #BBC1C9; }
  td small, th small {
    font-size: 0.85em;
    line-height: inherit; }
  td.number, th.number {
    text-align: right; }
    td.number input[type=text], th.number input[type=text] {
      text-align: right; }
  td.center, th.center {
    text-align: center; }

td.primary-key {
  text-decoration: underline;
  font-weight: bold; }

th {
  text-align: left;
  font-weight: bold; }

tr.active td, tr.active th {
  background-color: #6c9e6c; }

caption {
  padding: 0.5em 4px;
  text-align: left;
  font-weight: normal;
  font-size: 1.15em; }

.submit {
  margin-top: 1em; }

.login-form {
  top: 0;
  width: 300px;
  margin: 25px auto; }

.wrapper.login {
  padding: 0; }
  .wrapper.login .messages {
    width: 300px;
    margin: 1em auto; }

.messages {
  margin: 1em 0;
  padding: 0.5em;
  list-style: none;
  border: 1px solid #99d866;
  background-color: #e0ffc7;
  border-radius: 4px; }
  .messages.err {
    border-color: #d6cf62;
    background-color: #fffed6; }
  .messages li {
    margin: 0;
    padding: 0; }
